@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #121212;
  /* margin: 12px 24px; */
}
.font-marcellus {
  font-family: "Marcellus", serif;
}
.font-outfit {
  font-family: "Outfit", sans-serif;
}
.transition{
  transition: all 0.3s ease-in-out;
}
.image-fade {
  position: relative;
  overflow: hidden;
}

.image-fade::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #121212, rgba(255, 255, 255, 0) 100%);
}

